{% extends "./base.html" %}

{% block title %} Gestión de Cursos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Curso</h2>
        <div class="card">
            <div class="card-body">
                <form action="/tareas/editarCurso/" method="POST">{% csrf_token %}
                    <div class="form-group" style="margin-top: 5%;">
                        <input type="text" id="txtCodigo" name="txtCodigo" value="{{curso.codigo}}" class="form-control" placeholder="Código"
                            minlength="6" maxlength="6" readonly required>
                    </div>
                    <div class="form-group" style="margin-top: 5%;">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{curso.nombre}}" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group" style="margin-top: 5%;">
                        <input type="text" id="numCreditos" name="numCreditos" value="{{curso.creditos}}" class="form-control" min="1" max="9"
                            value="1" required>
                    </div>
                    <div class="row" colspan="2" style="margin-top: 5%;">
                        <div style="width: 50%; float:left; padding-left: 40%; margin-top: 5%;">
                            <button type="submit" class="btn btn-success btn-block text-white">Actualizar</button>
                         </div>
                    </div>
                </form>
                <div class="row" colspan="2">
                    <div style="width: 100%; float:left; padding-left: 40%; margin-top: 5%;">
                        <a href="/tareas/" type="button" class="btn btn-success btn-block text-white">Cancelar</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}