{% extends "./base.html" %} 
{% block title %}
 Gestión de Estudiantes 
 {% endblock %} 
 
 {% block body %}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong class="text-dark">{{ message }}</strong>
    </div>
    {% endfor %} {% endif %}
    <h2>Gestión de Estudiantes</h2>
    <div class="card">
      <div class="card-body">
        <form action="/tareas/registrarEstudianteC/" method="POST">
          {% csrf_token %}
          <div class="form-group" style="margin-top: 8%">
            <input
              type="text"
              id="txtCodigo"
              name="txtCodigo"
              class="form-control"
              placeholder="Cedula"
              minlength="10"
              maxlength="10"
              required
            />
          </div>
          <div class="form-group" style="margin-top: 8%">
            <input
              type="text"
              id="txtApellido1"
              name="txtApellido1"
              class="form-control"
              placeholder="Apellido Paterno"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group" style="margin-top: 8%">
            <input
              type="text"
              id="txtApellido2"
              name="txtApellido2"
              class="form-control"
              placeholder="Apellido Materno"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group" style="margin-top: 8%">
            <input
              type="text"
              id="txtNombre"
              name="txtNombre"
              class="form-control"
              placeholder="Nombres"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group" style="margin-top: 8%">
            <input type="date" id="txtFecha" name="txtFecha" value="1999-07-22" />
          </div>
          <div class="form-group" style="margin-top: 8%">
            <select name="sexo" id="sexo">
                <option value="">--Escoja el sexo--</option>
                <option value="F">F</option>
                <option value="M">M</option>
            </select>
          </div>
          <div class="form-group" style="margin-top: 8%">
            <input type="text" id="txtCarrera" name="txtCarrera" class="form-control" placeholder="Identificador de la carrera"
            maxlength="50" required>
          </div>
          <div class="form-group" style="margin-top: 8%">
            <button type="submit" class="btn btn-success btn-block text-white">
              Guardar Estudiante
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1>Listado de Estudiantes</h1>
    <div class="table-responsive py-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Fecha de nacimiento</th>
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for c in cursos %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{c.apellidoPaterno}}</td>
            <td>{{c.nombresEstudiante}}</td>
            <td>{{c.fechaNacimiento}}</td>
            <td>
              <a href="/tareas/edicionEstudianteC/{{c.cedula}}" class="btn btn-info"
                >Editar</a
              >
            </td>
            <td>
              <a
                href="/tareas/eliminarEstudianteC/{{c.cedula}}"
                class="btn btn-danger btnEliminacion"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row" colspan="2">
      <div style="width: 100%; float:left; padding-left: 10px; margin-top: 0%;">
          <a href="/tareas/matricula/" type="button" class="btn btn-success btn-block text-white">Registrar Matricula</a>
       </div>
    </div>
    <br>
    <div class="row" colspan="2">
      <div style="width: 100%; float:left; padding-left: 10px; margin-top: 0%;">
          <a href="/tareas/cursoU/" type="button" class="btn btn-success btn-block text-white">Vamos a los cursos</a>
       </div>
    </div>
  </div>
</div>
{% endblock %}
