{% extends "./base.html" %}

{% block title %} Gestión de Profesores {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Informacion de Profesor</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Celular</th>
                        <th>Cedula</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cursos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.nombreP}}</td>
                        <td>{{c.apellidoP}}</td>
                        <td>{{c.correoP}}</td>
                        <td>{{c.celularP}}</td>
                        <td>{{c.cedulaP}}</td>
                        <td><a href="/tareas/listadoProfesores/" class="btn btn-info">Atras</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}